body {
    background-color: rgb(68, 131, 186);
}
 #game {
    width: 800px;
    height: 400px;
    position: relative;
    border: 20px black;
    background-color: aquamarine;
    margin: 100px;
    padding: 100px;
} 
#player {
   
    background-color: red;
    position:absolute;
    

    

} 
.block {

    background-color: rgb(40, 84, 110);
    position: absolute;
}
.bigBlock {
    background-color: yellow;

position: absolute;
}

